<%- include("partials/header"); -%>
<h1> <strong>About</strong></h1><hr>
<h4><p><%= aboutContent %></p></h4><hr>
<p> I have Developed many Personal and freelance projects, and contributed in Open Source projects .</p><hr>
<p>I have my Bachelor's Degree in Computer Science and Engineering and I'm current employed is Wipro Limited.</p><hr>
<p>I got first Interested in Coding in School when I wrote my first Rock-Paper-Scissors Game using if-else.</p><hr>
<p>Since then I have built many Games, Apps, Websites along the way for fun.</p><hr>
<p>If you are Interested in my Development Journey , you can follow along with me through these Blogs.</p><hr>

<%- include("partials/footer"); -%>
