<%- include("partials/header"); -%>
<script src="https://kit.fontawesome.com/139994f7e4.js" crossorigin="anonymous"></script>

<h1><strong> Contact</strong></h1><hr>
<h4><p><%= contactContent %></p></h4><hr>
<p><h4>Connect with me on:
<a href="https://www.linkedin.com/in/prashant-shukla-117432197/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>&emsp;
<a href="https://www.facebook.com/profile.php?id=100011337836020"><i class="social-icon fa-brands fa-facebook-f fa-2xl"></i></a>&emsp;
<a href="https://www.instagram.com/p_b_shukla/"><i class="social-icon fa-brands fa-instagram fa-2xl"></i></a>&emsp;
<a href="https://github.com/prashantshukla2000"><i class="fa-brands fa-github fa-2xl"></i></a>&emsp;
<a href="https://serene-savannah-58898.herokuapp.com/"><i class="social-icon fa-solid fa-envelope fa-2xl"></i></a></h4></p><hr>
<%- include("partials/footer"); -%>
//
